
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Live Template";
}



<div class="container">
    <div class="row col-md-12" style="margin-top:50px;">
        
        <h1>Live Template</h1>
        <div class="btn-toolbar">
            <a href="@Url.Content("~/Content/snippets.zip")">Download C# ReSharper snippet</a>
        </div>
        <img src="@Url.Content("~/Content/livetemplate.png")" />
    </div>
</div>
