@using Grid.Extensions
@using Grid.Paging
@using Grid.Styles
@using GridUI.Models
@using Incoding.Extensions
@using Incoding.MvcContrib
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Pageable options</h1>

            <div class="example">
                @(Html.Grid<ProductVm>()
                      .GridClass(BootstrapTable.Bordered)
                      .Columns(column =>
                      {
                          column.Bound(r => r.Name)
                                .Title("Product Name")
                                .Width(200);

                          column.Bound(r => r.Price)
                                .Width(200);

                          column.Bound(r => r.Date)
                                .Title("Date of made")
                                .Width(150);
                      })
                      .AjaxGet(Url.Action("GetProductsWithPaging", "Home"))
                      .Pageable(dsl =>  dsl.ItemsCount(true)
                                            .PageSizes(true)))
            </div>
            <div class="sourceCode">
                <pre>
                      Html.Grid<productvm>()
                      .GridClass(BootstrapTable.Bordered)
                      .Columns(column =>
                      {
                          column.Bound(r => r.Name)
                                .Title("Product Name")
                                .Width(200);
                          column.Bound(r => r.Price)
                                .Width(200);
                          column.Bound(r => r.Date)
                                .Title("Date of made")
                                .Width(150);
                      })
                      .AjaxGet(Url.Action("GetProductsWithPaging", "Home"))
                      .Pageable(dsl => dsl.ItemsCount(true)
                                          .PageSizes(true))
                </pre>
            </div>
         </div>
    </div>
</div>