@using Grid.Extensions
@using Grid.Paging
@using Grid.Styles
@using GridUI.Models
@using GridUI.Queries
@using Incoding.Extensions
@using Incoding.MvcContrib
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>


<div class="container">
    <div class="row col-md-12" style="margin-top:50px;">
    </div>
</div>