
@using Grid.Components
@using GridUI.Models
@using Incoding.Extensions
@using Incoding.MvcContrib


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Paging";
}



<div class="container">
    <div class="row col-md-12" style="margin-top:50px;">

        <h1>Pageable</h1>

        <div class="example">
            @(Html.Grid<ProductVm>()
                      .Id("PageableExample")
                      .Styling(BootstrapTable.Bordered)
                      .Columns(column =>
                      {
                          column.Bound(r => r.Name)
                              .Title("Product Name")
                              .Width(200);

                          column.Bound(r => r.Price)
                              .Width(200);

                          column.Bound(r => r.Date)
                              .Title("Date of made")
                              .Width(150);
                      })
                      .AjaxGet(Url.Action("GetProductsWithPaging", "Home"))
                      .Pageable(Url.Dispatcher().AsView("~/Views/Shared/TemplatePaging.cshtml").ToAjaxGet()))
        </div>
        <div class="sourceCode">
            <pre>
                      Html.Grid&lt;ProductVm&gt;()
                      .Id("PageableExample")
                      .Styling(BootstrapTable.Bordered)
                      .Columns(column =>
                      {
                          column.Bound(r => r.Name)
                                .Title("Product Name")
                                .Width(200);
                          column.Bound(r => r.Price)
                                .Width(200);
                          column.Bound(r => r.Date)
                                .Title("Date of made")
                                .Width(150);
                      })
                      .AjaxGet(Url.Action("GetProductsWithPaging", "Home"))
                      .Pageable()
                </pre>
        </div>

        <h1>Custom Pageable</h1>

        <div class="example">
            @(Html.Grid<ProductVm>()
                      .Id("CustomPageableExample")
                      .Styling(BootstrapTable.Bordered)
                      .Columns(column =>
                      {
                          column.Bound(r => r.Name)
                              .Title("Product Name")
                              .Width(200);

                          column.Bound(r => r.Price)
                              .Width(200);

                          column.Bound(r => r.Date)
                              .Title("Date of made")
                              .Width(150);
                      })
                      .AjaxGet(Url.Action("GetProductsWithPaging", "Home"))
                      .Pageable(Url.Dispatcher().AsView("~/Views/Shared/TemplatePaging.cshtml").ToAjaxGet()))
        </div>
        <div class="sourceCode">
            <pre>
                      Html.Grid&lt;ProductVm&gt;()
                      .Id("CustomPageableExample")
                      .Styling(BootstrapTable.Bordered)
                      .Columns(column =>
                      {
                          column.Bound(r => r.Name)
                                .Title("Product Name")
                                .Width(200);
                          column.Bound(r => r.Price)
                                .Width(200);
                          column.Bound(r => r.Date)
                                .Title("Date of made")
                                .Width(150);
                      })
                      .AjaxGet(Url.Action("GetProductsWithPaging", "Home"))
                      .Pageable(Url.Dispatcher().AsView("~/Views/Shared/TemplatePaging.cshtml").ToAjaxGet())
                </pre>
        </div>
        
        <h1>PageSize</h1>

        <div class="example">
            @(Html.Grid<ProductVm>()
                      .Id("PageSizeExample")
                      .Styling(BootstrapTable.Bordered)
                      .Columns(column =>
                      {
                          column.Bound(r => r.Name)
                              .Title("Product Name")
                              .Width(200);

                          column.Bound(r => r.Price)
                              .Width(200);

                          column.Bound(r => r.Date)
                              .Title("Date of made")
                              .Width(150);
                      })
                      .AjaxGet(Url.Action("GetProductsWithPaging", "Home", new { PageSize = 30 }))
                      .Pageable())
        </div>
        <div class="sourceCode">
            <pre>
                      Html.Grid&lt;ProductVm&gt;()
                      .Id("PageSizeExample")
                      .Styling(BootstrapTable.Bordered)
                      .Columns(column =>
                      {
                          column.Bound(r => r.Name)
                                .Title("Product Name")
                                .Width(200);
                          column.Bound(r => r.Price)
                                .Width(200);
                          column.Bound(r => r.Date)
                                .Title("Date of made")
                                .Width(150);
                      })
                      .AjaxGet(Url.Action("GetProductsWithPaging", "Home", new { PageSize = 30 }))
                      .Pageable()
                    
                    
                    By Default PageSize = 10
                </pre>
        </div>
        
        
        <h1>Pageable Options</h1>

        <div class="example">
            @(Html.Grid<ProductVm>()
                      .Id("PageableOptionsExample")
                      .Styling(BootstrapTable.Bordered)
                      .Columns(column =>
                      {
                          column.Bound(r => r.Name)
                                .Title("Product Name")
                                .Width(200);

                          column.Bound(r => r.Price)
                                .Width(200);

                          column.Bound(r => r.Date)
                                .Title("Date of made")
                                .Width(150);
                      })
                      .AjaxGet(Url.Action("GetProductsWithPaging", "Home"))
                      .Pageable(dsl => dsl.ItemsCount(true)
                                          .PageSizes(true)))
        </div>
        <div class="sourceCode">
            <pre>
                      Html.Grid&lt;ProductVm&gt;()
                      .Id("PageableOptionsExample")
                      .Styling(BootstrapTable.Bordered)
                      .Columns(column =>
                      {
                          column.Bound(r => r.Name)
                                .Title("Product Name")
                                .Width(200);
                          column.Bound(r => r.Price)
                                .Width(200);
                          column.Bound(r => r.Date)
                                .Title("Date of made")
                                .Width(150);
                      })
                      .AjaxGet(Url.Action("GetProductsWithPaging", "Home"))
                      .Pageable(dsl => dsl.ItemsCount(true)
                                          .PageSizes(true)))
                </pre>
        </div>
    </div>
</div>
