
@using GridUI.Models
@using Incoding.MvcContrib


@using (var template = Html.Incoding().Template<ProductVm>())
{
    <table class="table table-hover">
    <thead>
        <tr class="success">
            <th>#</th>
            <th class="active">Column heading</th>
            <th>Column heading</th>
            <th>Column heading</th>
        </tr>
    </thead>
    <tbody>
        @using (var each = template.ForEach())
        {
            <tr class="danger">
                <td>1</td>
                <td class="warning">@each.For(r => r.Name)</td>
                <td>@each.For(r => r.Name)</td>
                <td>@each.For(r => r.Name)</td>
            </tr>
        }
    </tbody>
</table>

    
}


